.benefits {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.benefits__title {
  font-size: 50px;
  color: #56463e;
  max-width: 1138px;
  border-bottom: solid 3px #92775d;
  margin-bottom: 50px;
  text-align: center;
}

.benefits__list {
  background-image: url("/images/benefitsImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% - 86px);
  height: 584px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 90px 90px;
  row-gap: 90px;
  column-gap: 50px;
  padding: 0 43px;
}

.benefits__item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 90px;
}

.benefits__item-number {
  font-size: 45px;
  border: 2px solid #56463e;
  min-width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #56463e;
}

.benefits__item-text {
  font-size: 35px;
  color: #846950;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .benefits__list {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-image: url('/images/benefitsImage2.svg');
    height: 1015px;
  }
}

@media screen and (max-width: 768px) {
  .benefits {
    margin-top: 20px;
  }

  .benefits__title {
    font-size: 30px;
    text-align: center;
    border: none;
  }

  .benefits__list {
    margin-top: 8px;
    gap: 50px;
    width: calc(100% - 40px);
    padding: 0 20px;
  }

  .benefits__image {
    display: none;
  }

  .benefits__item-text {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .benefits__item-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .benefits {
    height: 912px;
  }
  .benefits__title {
    font-size: 20px;
  }

  .benefits__item {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .benefits__item-number {
    min-width: 45px;
    min-height: 45px;
    font-size: 30px;
  }

  .benefits__item-text {
    text-align: center;
  }
}