.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100%);
  position: relative;
  padding-bottom: 55px;
  margin-bottom: 40px;
}

.description__title {
  width: 312px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 45px;
  font-weight: 500;
  color: #3f322b;
  letter-spacing: 7px;
  border-bottom: 3px solid #92775d;
  margin-bottom: 22px;
}

.description__text {
  max-width: 1262px;
  font-size: 30px;
  color: #3f322b;
  margin-left: 60px;
}

.description__image {
  background-image: url("/images/descriptionImage.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 127px;
  height: 127px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .description {
    width: 100%;
  }

  .description__title {
    font-size: 40px;
    padding-left: 32px;
    text-align: left;
    width: 220px;
    margin-bottom: 13px;
  }

  .description__text {
    font-size: 20px;
    margin-left: 30px;
  }

  .description__image {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .description__title {
    font-size: 25px;
    width: 180px;
    padding: 0 0 10px 10px;
  }

  .description__text {
    font-size: 14px;
    margin-left: 10px;
  }
}
