.hero {
  max-width: 1321px;
  width: 100%;
  height: 586px;
  background-image: url("/images/heroImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 20px auto 70px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  margin: 221px 0 0 40px;
  width: calc(100% - 40px);
}

.hero__title {
  width: 100%;
  font-size: 65px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #ffffff, #7a685d, #56463e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__subtitle {
  width: 60%;
  font-size: 40px;
  font-weight: light;
  color: #f5f5f5;
  margin-bottom: 50px;
}

.hero__button {
  width: 369px;
  height: 55px;
  background-color: #56463e;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 27px;
}

@media screen and (max-width: 890px) {
  .hero__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 356px;
  }

  .hero__container {
    margin: 92px 0 0 36px;
  }

  .hero__title {
    margin-bottom: 5px;
    font-size: 50px;
  }

  .hero__subtitle {
    font-size: 30px;
    margin-bottom: 36px;
    width: 100%;
  }

  .hero__button {
    width: 261px;
    height: 55px;
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .hero__title {
    font-size: 27px;
  }

  .hero__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .hero {
    height: 231px;
    justify-content: center;
    margin-bottom: 18px;
  }

  .hero__container {
    margin-left: 0;
    margin-top: 40px;
    width: calc(100% - 10px);
    text-align: center;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__subtitle {
    width: 100%;
    margin-bottom: 22px;
  }

  .hero__button {
    font-size: 20px;
    width: 200px;
    height: 44px;
  }
}
